@import "tailwindcss";


@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;

  --color-brm-green: #0D4C29;   /* Hijau Tua */
  --color-brm-green-2: #158E4B;   /* Hijau Muda */
  --color-brm-maroon: #531C19;  /* Merah Marun */
  --color-brm-maroon-2: #861812; /* Merah Terang */
  --color-brm-beige: #C1AE9F;   /* Krem/Beige */
  --color-brm-beige-2: #E6DED8;   /* Krem Terang */
  
  --color-brm-light: #F9F9F8;   
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

body {
  font-family: var(--font-jakarta);
  @apply bg-white text-gray-800 antialiased;
}